.gameContainer {
	margin-top: 60px;
	max-width: 1548px;
	margin: 0 auto;
	width: 100%;
}

.x {
	color: #312c2d;
}

.title {
	max-width: 982px;
	font-size: clamp(24px, 2vw, 40px);
	font-weight: 400;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 40px;
}

.gameLayout {
	width: 100%;
}

.gameContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
	position: relative;
	z-index: 1;
}

/* Стиль для исходного контейнера с плашками */
.sourceContainer > div {
	display: grid;
	grid-template-columns: repeat(4, 360px);
	grid-template-rows: 65px;
	justify-content: space-between;
	margin-bottom: 30px;
	padding: 0;
	width: 100%;
	position: relative;
}

.labelSourceContainer {
	max-width: 360px;
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.emptySpace {
	max-width: 294px;
	width: 100%;
	height: 65px;
	margin: 0 auto;
	/* Полностью прозрачное пространство */
	visibility: hidden;
}

.coffeeCardsContainer {
	display: grid;
	grid-template-columns: repeat(4, 360px);
	justify-content: space-between;
	width: 100%;
}

.coffeeCardWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
	max-width: 360px;
	width: 100%;
}

.sourceTargetContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 10px;
	min-height: 120px; /* Достаточно места для двух плашек */
}

.labelContainer {
	position: relative;
	width: 296px;
	height: 65px;
	z-index: 1;
	margin-bottom: 20px;
}

.droppable {
	min-height: 66px;
	position: relative;
	cursor: pointer;
	transition: all 0.3s ease;
	background-color: transparent;
}

.droppable:hover {
	border-color: rgba(0, 0, 0, 0.3);
}

.dragOverlay {
	z-index: 1000;
	cursor: grabbing;
	transform: scale(1.02);
	transition: all 0.15s ease;
	will-change: transform;
}

.checkButton {
	width: 299px;
	height: 80px;
	position: relative;

	background: none;
	border: none;
	cursor: pointer;
	margin-top: 32px;
}

.checkButton:disabled {
	pointer-events: none;
	.buttonText {
		opacity: 0.3;
	}
}

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.buttonText {
	position: relative;
	font-size: 40px;
	line-height: 64px;
	font-weight: 500;
	color: var(--bordo);
}

/* .checkButton:hover .buttonText {
	font-weight: 600;
} */

.description {
	max-width: 1239px;
	color: white;
	margin: 0 auto;
	text-align: center;
	margin-top: 27px;
}

.description_error {
	max-width: 1239px;
	color: var(--bordo);
	margin: 0 auto;
	text-align: center;
	margin-top: 27px;
}

/* Стили для модального окна */
.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modalContent {
	position: relative;
	max-width: 875px;
	height: 455px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.closeButton {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 43px;
	right: 66px;
	background: none;
	border: none;
	cursor: pointer;
	color: #999;
}

.closeButton img {
	width: 32px;
	height: 32px;
}

.modalTitle {
	position: relative;
	font-size: 20px;
	margin-bottom: 15px;
	font-weight: 400;
	max-width: 399px;
	font-size: 37px;
	margin: 0 auto;
	margin-bottom: 41px;
	text-align: center;
}

.bonusButton {
	position: relative;
	border: none;
	background: none;
	cursor: pointer;
	width: 765px;
	height: 93px;
}

.bonusButton span {
	position: relative;
	color: var(--bordo);
	font-size: 46px;
	line-height: 74px;
}

/* .bonusButton:hover span {
	font-weight: 500; 
} */

.ghostLabel {
	padding: 10px;
	cursor: default;
	user-select: none;
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #777; /* Серый цвет текста */
	min-height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 1450px) {
	.description {
		padding-inline: 20px;
	}
	.coffeeCardsContainer {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 1270px) {
	.sourceTargetContainer {
		min-height: 0;
		gap: 0;
	}


	.labelContainer, .dragOverlay {
		width: 190px;
		margin-bottom: 0px;

		& div {
			width: 190px;

			span {
				font-size: 20px;
			}
		}
	}
}

@media screen and (max-width: 850px) {
	.coffeeCardsContainer {
		grid-template-columns: repeat(2, 1fr);
	}

	.coffeeCardWrapper:nth-child(2),
	.coffeeCardWrapper:nth-child(1) {
		flex-direction: column-reverse;
		margin-bottom: 0px;

		.sourceTargetContainer {
			flex-direction: column-reverse;
		}
	}

	.buttonText {
		font-size: 20px;
	}

	.checkButton {
		width: 200px;
		margin-top: 0;
	}
}

@media screen and (max-width: 950px) {
	.modalContent {
		max-width: 95%;
		min-height: 455px;
	}
}

@media screen and (max-width: 837px) {
	.modalTitle {
		font-size: 30px;
		margin-bottom: 40px;
	}

	.closeButton {
		top: 10px;
		right: 10px;
	}

	.bonusButton {
		width: 600px;

		span {
			font-size: 30px;
		}
	}
}

@media screen and (max-width: 700px) {
	.x {
		color: white;
	}
}

@media screen and (max-width: 655px) {
	.modalTitle {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.bonusButton {
		width: 350px;

		span {
			font-size: 20px;
		}
	}
}

@media screen and (max-width: 400px) {
	.modalTitle {
		font-size: 15px;
		margin-bottom: 10px;
		margin-top: 30px;
	}

	.bonusButton {
		width: 280px;

		span {
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 400px) {
	.description {
		font-size: 14px;
	}
	.title {
		font-size: 18px;
		padding-inline: 20px;
	}
	.droppable {
		height: 40px;
		min-height: 0;
	}

	.coffeeCardWrapper:nth-child(2),
	.coffeeCardWrapper:nth-child(1) {
		margin-bottom: 12px;
	}

	.sourceTargetContainer {
		gap: 25px;
	}
	.labelContainer, .dragOverlay {
		width: 150px;
		margin-bottom: 0px;
		height: 40px;

		& div {
			width: 150px;
			height: 40px;

			span {
				font-size: 17px;
			}
		}
	}
}
