.header {
	background-color: white;
}

.container {
	padding: 35px 48px 35px 0px;
}

.header > div {
	display: flex;
	justify-content: space-between;
}

.left {
	padding-left: 75px;
	gap: 75px;
	display: flex;
	align-items: center;
}

.logo {
	width: 200px;
}

@media screen and (max-width: 893px) {
	.logo {
		width: 150px;
	}
}

.logoShop {
	width: 192px;
	object-fit: contain;
}

.left p {
	font-weight: 400;
	font-size: clamp(16px, 3vw, 32px);
}

.left button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

@media (max-width: 768px) {
	.logoShop {
		display: none;
	}

	.container {
		padding: 0;
	}

	.header {
		padding: 20px 0;
	}

	.left {
		padding-left: 40px;
		display: flex;
		align-items: center;
	}

	.left {
		width: 100%;
		justify-content: space-between;
	}

	.left p {
		margin-right: 31px;
	}
}
