.homeContainer {
	position: relative;
	overflow: hidden;
}

.title {
	font-size: 80px;
	line-height: 64px;
	color: white;
	text-align: center;
	margin-top: 88px;
	text-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.textContainer {
	margin-left: auto;
	margin-right: 228px;
	max-width: 715px;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 44px;
	margin-top: 134px;
}

.subTitle {
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	text-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.text {
	font-size: 40px;
	line-height: 40px;
	max-width: 564px;
	text-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.button {
	width: 222px;
	height: 68px;
	position: relative;
	border: none;
	background: none;
	cursor: pointer;
}

.button span {
	font-size: 40px;
	line-height: 64px;
	font-weight: 500;
	position: relative;
	color: var(--bordo);
}

.button:hover span {
	font-weight: 600;
}

.firstBlock {
	position: absolute;
	top: 235px;
	left: 51px;
	z-index: -2;
}

.odo {
	margin-top: 137px;
	color: white;
	text-align: center;
	font-size: 15px;
}

.firstBeans {
	position: absolute;
	top: 538px;
	left: 13px;
	animation: floatFirstBeans 3s ease-in-out infinite;
	z-index: -1;
	width: 292px;
	height: 292px;
}

.secondBeans {
	position: absolute;
	top: 126px;
	right: 10px;
	animation: floatSecondBeans 4s ease-in-out infinite;
	z-index: -1;
	width: 195px;
	height: 195px;
}

.thirdBeans {
	position: absolute;
	right: 0;
	bottom: 110px;
	animation: floatThirdBeans 4s ease-in-out infinite;
	z-index: -1;
	width: 354px;
	height: 354px;
}

@keyframes floatFirstBeans {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	50% {
		transform: translate(0, -10px) rotate(4deg);
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@keyframes floatSecondBeans {
	0% {
		transform: translate(0, 0) rotate(97deg);
	}
	50% {
		transform: translate(0, -15px) rotate(93deg);
	}
	100% {
		transform: translate(0, 0) rotate(97deg);
	}
}

@keyframes floatThirdBeans {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	50% {
		transform: translate(0, -15px) rotate(-4deg);
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}
