.sortableLabel {
	position: relative;
	width: 296px;
	height: 66px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: grab;
	user-select: none;
}

.labelText {
	position: relative;
	font-size: 32px;
	z-index: 1;
}

.sortableLabel:hover {
	transform: translateY(-2px);
	font-weight: 600;
}

.dragging {
	transform: scale(1.02);
	z-index: 100;
}
