.gamePage {
	position: relative;
	padding-bottom: 40px;
	max-width: 1920px;
	margin: 0 auto;
}

.firstBeans {
	position: absolute;
	top: 22px;
	left: 22px;
	animation: floatFirstBeans 3s ease-in-out infinite;
	width: 212px;
	height: 212px;
	z-index: 0;
}

.secondBeans {
	position: absolute;
	right: 27px;
	bottom: 155px;
	animation: floatSecondBeans 4s ease-in-out infinite;
	z-index: 0;
}

@keyframes floatFirstBeans {
	0% {
		transform: translate(0, 0) rotate(77deg);
	}
	50% {
		transform: translate(0, -10px) rotate(80deg);
	}
	100% {
		transform: translate(0, 0) rotate(77deg);
	}
}

@keyframes floatSecondBeans {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	50% {
		transform: translate(0, -15px) rotate(-4deg);
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@media screen and (max-width: 1270px) {
	.secondBeans {
		display: none;
	}

	.firstBeans {
		top: 400px;
		width: 212px;
	}
}

@media screen and (max-width: 850px) {
	.secondBeans {
		display: none;
	}

	.firstBeans {
		top: 326px;
		width: 100px;
		height: 100px;
		left: 0;
	}

	.secondBeans {
		display: block;
		width: 100px;
		height: 100px;
		right: 20px;
		top: 147px;
	}
}

@media screen and (max-width: 555px) {
	.secondBeans {
		display: block;
		width: 100px;
		height: 100px;
		right: 20px;
		top: 250px;
	}
}
