.endLevel {
	max-width: 1345px;
	margin: 0 auto;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 1;
}

.promo {
	flex: 1 1 auto;
}

.subTitle img {
	width: 140px;
	object-fit: contain;
}

.prog {
	width: 112px;
	object-fit: contain;
	aspect-ratio: 112 / 54;
}

.endLevel h2 {
	max-width: 1345px;
	text-align: center;
	font-size: clamp(24px, 2vw, 40px);
	font-weight: 400;
}

.promos {
	margin-top: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px;
}

.promoCard {
	background-color: white;
	padding: 37px 30px;
	height: 378px;
	display: flex;
	flex-direction: column;
	align-items: center;
	clip-path: polygon(
		40px 0,
		calc(100% - 40px) 0,
		100% 40px,
		100% calc(100% - 40px),
		calc(100% - 40px) 100%,
		40px 100%,
		0 calc(100% - 40px),
		0 40px
	);
}

.promoCardCoffee {
	max-width: 680px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.subTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.subTitle h3 {
	font-size: 32px;
	line-height: 39px;
	font-weight: 500;
	text-align: right;
	max-width: 295px;
}

.promoShopTitle {
	max-width: 297px !important;
}

.divider {
	height: 78px;
	min-width: 3px;
	background-color: var(--grey);
}

.promo {
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	margin: 0;
}

.info {
	display: flex;
	gap: 14px;
	align-items: center;
}

.info p {
	text-align: right;
	font-size: 11px;
	margin: 0;
}

.dividerInfo {
	height: 54px;
	min-width: 2px;
	background-color: var(--grey);
}

.promoCardShop {
	max-width: 563px;
	width: 100%;
	gap: 32px;
}

.infoShop {
	text-align: center;
	font-size: 16px;
	margin: 0;
}

.nextLevel {
	width: 659px;
	height: 80px;
	position: relative;
	border: none;
	background: none;
	margin-top: 60px;
	cursor: pointer;
}

.nextLevel span {
	font-size: 40px;
	line-height: 64px;
	font-weight: 500;
	position: relative;
	color: var(--bordo);
}

/* .nextLevel:hover span {
	font-weight: 600;
} */

@media screen and (max-width: 1400px) {
	.promoCard {
		height: auto;
		max-height: 400px;
		min-height: 400px;
	}
	.promos {
		gap: 24px;
		padding-inline: 20px;
	}
	.promoCardCoffee {
		max-width: 565px;
	}

	.promoCardShop {
		max-width: 565px;
	}
}

@media screen and (max-width: 1100px) {
	.subTitle {
		font-size: 26px;
	}

	.promo {
		font-size: 19px;
	}

	.info p {
		font-size: 8px;
	}

	.infoShop {
		font-size: 15px;
	}
}

@media screen and (max-width: 910px) {
	.promoCardCoffee .subTitle img {
		width: 80px;
	}
	.promos {
		flex-direction: column;
	}

	.promoCardShop {
		gap: 16px;
	}

	.promoCardCoffee img {
		width: 250px;
	}

	.info img {
		width: 50px;
	}

	.info p {
		font-size: 15px;
	}

	.promos {
		margin-inline: 40px;
	}

	.promoCard,
	.promoCardCoffee{
		height: auto;
		min-height: 0;
		max-height: initial;
	}

	.nextLevel {
		width: 350px;
		margin-top: 30px;
	}

	.nextLevel span {
		font-size: 25px;
	}

	.endLevel {
		padding-inline: 20px;
	}
}

@media screen and (max-width: 600px) {
	.promoCardCoffee .subTitle img {
		width: 60px;
	}
}

@media screen and (max-width: 550px) {
	.info p {
		font-size: 8px;
	}

	.infoShop {
		font-size: 8px;
	}

	.promoCard {
		padding: 20px;
	}

	.promoCardShop img {
		width: 60px;
		height: 35px;
		object-fit: contain;
	}

	.subTitle h3 {
		font-size: 20px;
		line-height: 25px;
	}

	.subTitle img {
		width: 60px;
		height: 35px;
		object-fit: contain;
	}

	.info img {
		width: 50px;
	}

	.nextLevel {
		width: 300px;
		margin-top: 30px;
	}

	.nextLevel span {
		font-size: 20px;
	}
}
